# SPDX-License-Identifier: GPL-2.0

menuconfig CLK_SBI
	bool "RISC-V SBI clock framework support"
	depends on RISCV || COMPILE_TEST
	help
	  Clock drivers for RISC-V SBI clock frameowrk compatible SoCs.

if CLK_SBI

config CLK_SBI_DUOWEN
	bool "SmarCo DUOWEN SBI clock (CRCNTL) support"
	select SOC_SMARCO_DUOWEN
	help
	  Supports the Clock and Reset control (CRCNTL) IP block found in
	  DUOWEN platform.

endif
